<div class="row m-b-10">
  <div class="flex justify-content-between align-items-center">
    <h3 class="m-b-0">Ngân hàng</h3>
    <div class="flex flex-wrap gap-3 justify-content-left">
      <!-- <p-button class="custom-excel-color" label="Export Excel" icon="pi pi-file-export" severity="success"></p-button> -->
      <p-button label="Thêm mới" icon="pi pi-plus" [rounded]="true"></p-button>
    </div>
  </div>
</div>
<div class="card">
  <p-table #dt [value]="nganHangData" (onLazyLoad)="getAllNganHang($event)" dataKey="id" [rows]="20"
    [(first)]="first" [loading]="loading" [lazy]="true" styleClass="p-datatable-striped" [paginator]="totalCount > 0"
    [totalRecords]="totalCount" [showFirstLastIcon]="false" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-12">
          <span class="p-input-icon-left filterText">
            <i class="pi pi-search m-l-10"></i>
            <input type="text" class="filterText" placeholder="Tìm kiếm..." pInputText [(ngModel)]="keyword"
              (keyup.enter)="getAllNganHang(null)"/>
        </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th id="options"></th>
        <th id="BankCode">
          Mã ngân hàng
        </th>
        <th id="BankName">
          Tên ngân hàng
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bank>
      <tr>
        <td></td>
        <td>{{ bank }}</td>
        <td>{{ bank }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="10">Không có dữ liệu</td>
      </tr>
    </ng-template>
  </p-table>
</div>
