<div class="create-or-edit-chuyen-mon-wrap">
  <div class="custome-header flex align-items-center justify-content-between">
    <div class="custom-header-title color-111 f-w-500">
      <h4>Thêm mới Sprint</h4>
    </div>
    <div class="custom-header-action">
      <p-button styleClass="p-button-rounded p-button-icon p-button-secondary" [text]="true" (click)="close()">
        <img src="assets/customs/svgs/close-icon.svg" alt="" width="15px" height="15px">
      </p-button>
    </div>
  </div>
  <div class="custom-body">
    <form [formGroup]="formData">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-label-validation class="block" [control]="formData.get('tenSprint')" [title]="'Tên Sprint  *'">
            </app-label-validation>
            <input class="w-12" type="text" formControlName="tenSprint" pInputText />
            <validation [control]="formData.get('tenSprint')">
            </validation>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <app-label-validation class="block" [control]="formData.get('ngayBatDau')" [title]="'Ngày bắt đầu  *'">
            </app-label-validation>
            <p-calendar appendTo="body" formControlName="ngayBatDau" [iconDisplay]="'input'" [showIcon]="true"
              inputId="timeonly"></p-calendar>
            <validation [control]="formData.get('ngayBatDau')">
            </validation>
          </div>
          <div class="col-6">
            <app-label-validation class="block" [control]="formData.get('ngayKetThuc')" [title]="'Ngày kết thúc  *'">
            </app-label-validation>
            <p-calendar appendTo="body" formControlName="ngayKetThuc" [iconDisplay]="'input'" [showIcon]="true"
              inputId="timeonly"></p-calendar>
            <validation [control]="formData.get('ngayKetThuc')">
            </validation>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="custom-footer">
    <div class=" flex justify-content-end">
      <p-button class="m-r-12 btn-cancel-dialog" severity="secondary" label="Hủy" (click)="close()">
      </p-button>
      <p-button [disabled]="disableButton || formData.invalid" class="btn-save-dialog" label="Lưu" (click)="save()">
      </p-button>
    </div>
  </div>
</div>
