.custom-body {
  height: 230px !important;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto !important;
  -ms-overflow-style: none !important;
  /* Ẩn thanh cuộn trên Internet Explorer */
  scrollbar-width: none !important;

  /* Ẩn thanh cuộn trên Firefox */
  &::-webkit-scrollbar {
    display: none !important;
    /* Ẩn thanh cuộn trên các trình duyệt dựa trên WebKit (Chrome, Safari, Edge) */
  }
}

::ng-deep {
  app-create-or-edit-sprint {

    .p-calendar {
      width: 100%;
    }

    // .subtaskName,
    // .subtaskTime {
    //   width: 100%;
    //   height: 36px;
    //   background: #e9eaed;
    //   border-radius: 5px;
    //   padding: 5px 20px;
    //   display: flex;
    //   align-items: center;
    // }
  }
}
