<div class="custom-header">
  <div class="text-title"><span>Bạn có đồng ý lưu thay đổi không ?</span>
  </div>
  <div class="flex">
      <div class="col-6">
          <p-button (click)="save()" styleClass="p-button-rounded w-100 button-content">
              <span class="me-2">Đồng ý</span>
          </p-button>
      </div>
      <div class="col-6">
           <p-button (click)="closeDialog()" styleClass="custom-btn-cancel w-100">
              <span class="me-2 f-s-14 f-w-500 color-111">Từ chối</span>
            </p-button>
      </div>
  </div>
</div>
