span.style-trangThai {
  width: 100px;
  height: 22px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 5px 8px;
}

.warning-yellow {
  background-color: #FFFCB3;
  color: #000000;
}

.good-green {
  background-color: #C6E6FD;
  color: #000000;
}

.danger-red {
  background-color: #FFCFCF;
  color: #000000;
}

.init-blue {
  background-color: #68C0FF;
  color: #000000;
}

::ng-deep {
  app-cham-cong {
    .p-dropdown {
      width: 100%;
      border-radius: 20px !important;

      span {
        padding-left: 14px !important;
      }
    }
  }
}
