.custom-body {
  height: 170px !important;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto !important;
  -ms-overflow-style: none !important;
  /* Ẩn thanh cuộn trên Internet Explorer */
  scrollbar-width: none !important;

  /* Ẩn thanh cuộn trên Firefox */
  &::-webkit-scrollbar {
    display: none !important;
    /* Ẩn thanh cuộn trên các trình duyệt dựa trên WebKit (Chrome, Safari, Edge) */
  }
}

::ng-deep {
  app-create-or-edit-ca-lam-viec {
    .p-calendar {
      margin-top: 5px;
      width: 100%;
    }
  }
}
