@import './_variables.scss';

// render magrin,pading : VD  m-r-5, p-r-10
@for $space from 0 through 500 {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }

    .p-x-#{$space} {
      padding-left: #{$space}px !important;
      padding-right: #{$space}px !important;
    }

    .p-y-#{$space} {
      padding-top: #{$space}px !important;
      padding-bottom: #{$space}px !important;
    }
  }
}